:root { 
--bluegray_900:#262b35; 
--bluegray_50:#e6ebef; 
--bluegray_600:#5f6c86; 
--red_700:#d13329; 
--bluegray_900_99:#262b3599; 
--blue_A700:#0061ff; 
--bluegray_100_4c:#d8d8d84c; 
--black_900_0c:#0000000c; 
--white_A700:#ffffff; 
--gray_50:#fafcff; 
}